@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/comptainer.css");
@import url("components/Card.css");
body{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background-color: white;
	margin: 0px;
}
h1,h2,h3{
	font-family:'PT Sans', sans-serif;
	font-weight: bold;

}
a{
	text-decoration: none;

}